@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Sofia");
@import url("https://fonts.googleapis.com/css?family=Assistant");
@import url("https://fonts.googleapis.com/css?family=Aclonica");

.container-fluid {
    background-color: rgba(17, 17, 17, 0.842);
    min-height: 100vh;
    width: 100vw;
}
.container-fluid .navbar-brand {
    font-size: 0.9rem;
    font-family: 'Sofia';
    color: rgba(83, 227, 247, 0.829);
    text-shadow: 1px 0px 0.5px rgb(175, 99, 85);
    
}
.container-fluid .navbar-brand .d-inline-block {
    border-radius: 50%;
    border:5px thin rgb(3, 26, 26); 
}
.container-fluid .parent {
    display: flex;
    flex-direction:row;
    align-self: center;
}
.container-fluid .parent .leftdiv {
	position: relative;
	background: transparent;
    width: auto;
    height: auto;
    align-self: flex-start;
    margin-left: 1em;
    margin-top: 2em;
    opacity: 0.95;
    filter: alpha(opacity=80);
}
.modal-title {
    color: rgb(11, 11, 29);
    font-family: 'Lucida Sans Unicode', sans-serif;
    font-size: 1rem;
}
.btn-secondary {
    background-color: rgb(86, 90, 89);
}
.btn-primary {
    background-color: rgb(111, 180, 157);
}
.btn-primary , .btn-secondary {
    font-size: 0.5rem;
    font-family: Helvetica;
}
.container-fluid .parent .leftdiv .lead {
    color: rgb(241, 204, 217);
    font-size: 0.8rem;
    font-weight: 400;
    font-family: 'Aclonica';
}
.container-fluid .parent .leftdiv .lead .founder {
    color: rgb(145, 32, 32);
}
.container-fluid .parent .leftdiv .lead .quote {
    color: rgb(241, 204, 217);
    font-weight: bold;
}
.container-fluid .parent .speech-bubble {
	position: relative;
	background: rgb(114, 110, 110);
    border-radius: 6em;
    width: auto;
    height: auto;
    align-self: flex-start;
    margin-top: 8em;
    margin-left: 13em;
    padding: 2.2em;
    text-align: center;
    opacity: 0.95;
    filter: alpha(opacity=80);
}
.container-fluid .parent .speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 1.156em solid transparent;
	border-top-color: rgb(114, 110, 110);;
	border-bottom: 0;
	border-right: 0;
	margin-left: -0.578em;
	margin-bottom: -1.156em;
}
.fas {
    font-size: 7x;
    color: rgb(146, 66, 66);
}
.container-fluid .parent .speech-bubble .headerform {
    color: rgb(15, 12, 13);
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium',sans-serif;
    text-shadow: 2px 0px 1px thistle;
}
.container-fluid .parent .speech-bubble .tokeninput {
    color: rgb(12, 11, 12);
    font-size: 1rem;
    background-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: rgb(94, 31, 43);
    border-width: 2px;
    width: 20vw;
    border-radius: 4px;
}
.container-fluid .parent .speech-bubble .tokeninput :hover{
    box-shadow: 2px 1px 0 1px slategrey;
}
.container-fluid .parent .speech-bubble .btn {
    border-radius: 10px;
}
.fa-sign-in-alt {
    size: 7ex
}
.container-fluid .parent .speech-bubble .links {
    color:rgb(56, 55, 55);
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
}
.container-fluid .parent .speech-bubble .links:hover {
    color:rgb(82, 49, 49);
    text-decoration-line: none;
    font-weight: 700;
}
.container-fluid .parent .speech-bubble .textnote {
    font-family: 'Helvetica Neue' ,sans-serif;
    color: rgb(73, 73, 73);
}
@media screen and (min-width: 680px) and (max-width: 730px) {
    .container-fluid .parent .leftdiv .lead {
        font-size: 0.7rem;
    }
}
@media screen and (min-width: 600px) and (max-width: 679px) {
    .container-fluid .parent .leftdiv .lead {
        font-size: 0.6rem;
    }
    .container-fluid .parent .speech-bubble {
        margin-left: 8em;
    }
    .container-fluid .parent .speech-bubble .links {
        font-size: 1rem;
    }
}
@media screen and (min-width: 400px) and (max-width: 599px) {
    .container-fluid .parent .leftdiv .lead {
        font-size: 0.99rem;
    }
    .container-fluid .parent .speech-bubble {
        margin-left: 2em;
        margin-top: 1em;
        
    }
    .container-fluid .parent {
        flex-direction:column;
        align-self: center;
    }
}
@media screen and (min-width: 300px) and (max-width: 399px) {
    .container-fluid .parent .leftdiv .lead {
        font-size: 0.7rem;
    }
    .container-fluid .parent .speech-bubble {
        margin-left: 2em;
        margin-top: 1em;
        
    }
    .container-fluid .parent {
        flex-direction:column;
        align-self: center;
    }
    .modal-title {
        font-size: 0.7rem;
    }
}

