@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Sofia");
@import url("https://fonts.googleapis.com/css?family=Assistant");
@import url("https://fonts.googleapis.com/css?family=Aclonica");
@import url("https://fonts.googleapis.com/css?family=Cutive");
@import url("https://fonts.googleapis.com/css?family=Purple Purse");

.container-fluid {
    background-color: rgba(17, 17, 17, 0.842);
    min-height: 100vh;
    width: auto
}
.container-fluid .navbar-brand {
    font-size: 0.9rem;
    font-family: 'Sofia';
    color: rgba(83, 227, 247, 0.829);
    text-shadow: 1px 0px 0.5px rgb(85, 142, 175);
    
}
a , .justify-content-end a , .logoutbtn {
    color: azure;
    cursor: pointer;
    text-decoration-line: none;
}
a:hover {
    color: teal;
}

footer .nav-item .nav-link :hover {
    color:teal;
}

 .tooltiptext {
    visibility: hidden;
    width: fit-content;
    background-color: rgb(148, 128, 128);
    color: #fff;
    font-size: 0.5rem;
    text-align: center;
    border-radius: 6px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.modal-title {
    color: rgb(11, 11, 29);
    font-family: 'Lucida Sans Unicode', sans-serif;
    font-size: 1rem;
}
.btn-secondary {
    background-color: rgb(86, 90, 89);
}
.btn-primary {
    background-color: rgb(111, 180, 157);
}
.btn-primary , .btn-secondary {
    font-size: 0.5rem;
    font-family: Helvetica;
}
.card-title {
    color:darkred;
    font-family: Cambria, 'Times New Roman';
    font-size: 2rem;
    text-align: center;
}
.btn {
    background-color: rgb(146, 125, 96);
    color: rgb(51, 42, 31);
}
.card-text {
    color:rgb(90, 2, 2);
    font-family: Cochin 'Times New Roman';
    font-size: 1rem;
    text-align: center;
}
.btn:hover .tooltiptext {
    visibility: visible;
}
.logoutbtn:hover .tooltiptext {
    visibility: visible;
}

footer, footer .nav-item .nav-link {
    font-family:  'Lucida Sans', Arial;
    font-size: 0.7rem;
    color: azure;
    font-weight: 200;
}


@media screen and (min-width: 618px) and (max-width: 718px) {
    .card-deck , .list-group , .list-group-flush , .list-group-item {
        font-size:0.8rem;
    }
    .form-control {
        font-size:0.8rem;
    }
}
@media screen and (min-width: 400px) and (max-width: 617px) {
    .card-deck , .list-group , .list-group-flush , .list-group-item {
        font-size:0.7rem;
    }
    .form-control {
        font-size:0.6rem;
        width:16vw;
    }
}
@media screen and (min-width: 476px) and (max-width: 499px) {
    .card-deck , .list-group , .list-group-flush , .list-group-item {
        font-size:0.8rem;
    }
    .form-control {
        font-size:0.6rem;
        width:16vw;
    }
}
@media screen and (min-width: 445px) and (max-width: 475px) {
    .card-deck , .list-group , .list-group-flush , .list-group-item {
        font-size:0.7rem;
    }
    .form-control {
        font-size:0.6rem;
    }
    .card-header {
        font-size: 0.8rem;
    }
    .display-4 {
        font-size: 1.3rem;
    }
    .container-fluid .navbar-brand {
        font-size: 0.7rem;
    }  
    .card-text {
        font-size:0.8rem;
    }
    .modal-title {
        font-size: 0.8rem;
    }
}
@media screen and (min-width: 400px) and (max-width: 444px) {
    .card-deck , .list-group , .list-group-flush , .list-group-item {
        font-size:0.7rem;
    }
    .form-control {
        font-size:0.6rem;
        width:35vw;
    }
    .card-header {
        font-size: 0.7rem;
    }
    .display-4 {
        font-size: 1rem;
    }
    .container-fluid .navbar-brand {
        font-size: 0.6rem;
    }
    .card-text {
        font-size:0.6rem;
    }
    .card-title , .deckheader {
        font-size: 0.8rem;
    }
    .modal-title {
        font-size: 0.7rem;
    }
    footer, footer .nav-item .nav-link {
        font-size: 0.5rem;
    }
}
@media screen and (min-width: 300px) and (max-width: 399px) {
    .card-deck , .list-group , .list-group-flush , .list-group-item {
        font-size:0.7rem;
    }
    .form-control {
        font-size:0.6rem;
        width:34vw;
    }
    .card-header {
        font-size: 0.7rem;
    }
    .display-4 {
        font-size: 0.8rem;
    }
    .container-fluid .navbar-brand {
        font-size: 0.6rem;
    }
    .card-text {
        font-size:0.6rem;
    }
    .card-title , .deckheader {
        font-size: 0.7rem;
    }
    .modal-title {
        font-size: 0.5rem;
    }
    footer, footer .nav-item .nav-link {
        font-size: 0.4rem;
    }
}


